.logo {
    background-color: #000000;
    width: 140px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.logo p {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    margin: 0;
}