.hamburger {
    width: 33px;
    height: 37px;
    overflow: hidden;
}

.hamburger span {
    display: block;
    margin: 7px 0;
    height: 2.5px;
    background-color: #000000;
}

.hamburger span:last-child {
    margin-bottom: 0;
    width: 50%;
}