.hero {
    height: calc(100vh - 6rem);
}

.images {
    height: 350px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

/* .images img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
} */

.imgRight {
    width: 320px;
    height: 205px;
    position: absolute;
    top: 0;
    left: -85px;
    transform: matrix(0.87, 0.58, -0.46, 0.84, 0, 0);
}

.imgLeft {
    width: 450px;
    height: 205px;
    position: absolute;
    top: 0;
    right: -90px;
    transform: matrix(0.88, -0.55, 0.44, 0.86, 0, 0);
}   

.content {
    width: 200px;
    text-align: center;
    margin: 0 auto;
}

.content h1 {
    font-size: 32px;
    font-weight: 900;
    line-height: 1;
    margin: 0;
}

.content p {
    opacity: .5;
    line-height: 1.3;
}

.content button {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    width: 180px;
    height: 50px;
    border: none;
}
